body{
    font-family: Arial, sans-serif;
    background:#f0f0f0;
}

.container{
    width:350px;
    margin:100px auto;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0px 0px 10px gray;
}

h2{
    text-align:center;
}

label{
    display:block;
    margin-top:10px;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:10px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}

#message{
    margin-top:15px;
    font-weight:bold;
    color:red;
    text-align:center;
}
